#フォルダ
Library/
Logs/
Temp/
obj/Debug/
obj/Release/
Mira/Mira/obj/
Mira/Mira/obj/Debug/
Mira/Mira/obj/Release/
Assets/Game/AssetBundlesAndroid/
Assets/Game/AssetBundlesIOS/
Assets/Game/AssetBundlesStandalone/


#拡張子
*.userprefs
*.suo
*.sln
*.apk
*.csproj
JSonData.meta
.vs/Trionfi/FileContentIndex/2d9c4f06-dd6b-41f7-92ac-7826fa8e96e2.vsidx
.vs/Trionfi/FileContentIndex/6ec43f72-bf13-447c-b9ca-9827146df732.vsidx
.vs/Trionfi/v17/DocumentLayout.backup.json
.vs/Trionfi/v17/DocumentLayout.json
.vs/Trionfi/FileContentIndex/b635dfdc-8efa-487b-acd7-d172f2eb398a.vsidx
.vsconfig
