#フォルダ
Library/
Temp/
obj/Debug/
obj/Release/
Mira/Mira/obj/
Mira/Mira/obj/Debug/
Mira/Mira/obj/Release/
Assets/Game/AssetBundlesAndroid/
Assets/Game/AssetBundlesIOS/
Assets/Game/AssetBundlesStandalone/


#拡張子
*.userprefs
*.suo
*.sln
*.apk
JSonData.meta
UniTask.Addressables.csproj
UniTask.csproj
UniTask.DOTween.csproj
UniTask.Editor.csproj
UniTask.Linq.csproj
UniTask.TextMeshPro.csproj
.vs/Trionfi/FileContentIndex/1c319013-792e-443a-889b-1181dbbd398f.vsidx
.vs/Trionfi/FileContentIndex/6ec43f72-bf13-447c-b9ca-9827146df732.vsidx
.vs/Trionfi/v17/DocumentLayout.backup.json
.vs/Trionfi/v17/DocumentLayout.json
Tests.csproj
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
DOTween.Modules.csproj
Elringus.SpriteDicing.Editor.csproj
Elringus.SpriteDicing.Runtime.csproj
RubyTextMeshPro.csproj
RubyTextMeshPro.Editor.csproj
